    @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/montserrat/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.avto {
background:#FFFFFF;
cursor: pointer;
border: 1px solid #282828;
box-sizing: border-box;
position: absolute;
width: 224px;
height: 50px;
left: 40px;
top: 160px;
border: 1px solid rgba(89, 50, 234, 0.42);
box-sizing: border-box;
border-radius: 15px;
 }
 .avto2 {
background:#FFFFFF;
cursor: pointer;
border: 1px solid #282828;
box-sizing: border-box;
position: absolute;
width: 224px;
height: 50px;
left: 40px;
top: 230px;
border: 1px solid rgba(89, 50, 234, 0.42);
box-sizing: border-box;
border-radius: 15px;
 }
 .avto3 {
background:#FFFFFF;
cursor: pointer;
border: 1px solid #282828;
box-sizing: border-box;
position: absolute;
width: 224px;
height: 50px;
left: 40px;
top: 300px;
border: 1px solid rgba(89, 50, 234, 0.42);
box-sizing: border-box;
border-radius: 15px;
 }
 .avto4 {
background:#FFFFFF;
cursor: pointer;
border: 1px solid #282828;
box-sizing: border-box;
position: absolute;
width: 224px;
height: 50px;
left: 40px;
top: 370px;
border: 1px solid rgba(89, 50, 234, 0.42);
box-sizing: border-box;
border-radius: 15px;
 }
 .avto:hover {
	background: #5932EA;
	border-radius: 20px;
    filter: drop-shadow(0 0 20px #5932EA;);
}
.avto2:hover {
	background: #5932EA;
	border-radius: 20px;
    filter: drop-shadow(0 0 20px #5932EA;);
}
.avto3:hover {
	background: #5932EA;
	border-radius: 20px;
    filter: drop-shadow(0 0 20px #5932EA;);
}
.avto4:hover {
	background: #5932EA;
	border-radius: 20px;
    filter: drop-shadow(0 0 20px #5932EA;);
}
 p1{
width: 157.55px;
height: 17px;
left: 69px;
top: 4px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #000000;
}
.entrance:hover {
	color: #FFFFFF;
	text-decoration: none;
}
h1{
width: 190px;
height: 40px;
/*margin-left: 57px;
margin-top: 60px;*/
margin-left: 18%;
margin-top: 20%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 44px;
text-align: center;
letter-spacing: 0.04em;

color: #5932EA;
}
article{
    position: absolute;
width: 304px;
height: 1200px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);

}
.ava {
    position: absolute;
    width: 104px;
    height: 100px;
    left: 88px;
    top: 900px;
    
    filter: drop-shadow(0px 1px 12px rgba(89, 50, 234, 0.5));
}
/*.darkmode {
    position: absolute;
width: 224px;
height: 50px;
left: 40px;
top: 1030px;

background: #5932EA;
box-shadow: 0px 4px 4px rgba(89, 50, 234, 0.25);
border-radius: 24px;
}
/*input[type=range] {
    position: absolute;
    width: 224px;
    height: 50px;
    left: 40px;
    top: 1030px;
    
    background: #5932EA;
    box-shadow: 0px 4px 4px rgba(89, 50, 234, 0.25);
    border-radius: 24px;
}*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 224px;
    height: 50px;
    left: 40px;
    top: 950px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7250F2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7250F2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(175px);
    -ms-transform: translateX(175px);
    transform: translateX(175px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* Код для текста внутри ползунка
  p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    margin-left: 27%;
  }
*/
